<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Dynamic Height</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.5/docs.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body ng-app="MyApp" ng-controller="TestController" ng-keypress="changePage($event)" >
  <div ng-cloak class="tabsdemoDynamicHeight" >
  <md-content>
    <md-tabs md-dynamic-height="" md-selected="selectedTab" md-no-pagination="false">

      <md-tab ng-repeat="tab in tabs track by $index" label="{{$index}}"  ng-disabled="true">

        <md-content class="md-padding">
          <button ng-click="previous()">Précédent</button><button ng-click="closeTab()" class="quit">Quiter</button><br>

<div ng-repeat="line in tab track by $index" ng-class="classLine($index)">
          <span ng-repeat="word in line track by $index" ng-click="onclickedd($event,$parent.$parent.$index,$parent.$index,$index)" ng-class="classWord($parent.$index,$index)">
            {{word}}
          </span>
</div>
          <button ng-click="next()">Suivant</button><button ng-click="prevLine()">Ligne précédante</button><button ng-click="nextLine()">Ligne suivante</button>


        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
    <div class="bigpop">
      <div class="modd" ng-if="showModal" >Definition</div>
    </div>

  </div>


<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js'></script>
  <!--<script data-require="ui-bootstrap@*" data-semver="0.12.1"
          src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
-->

  <script  src="js/index.js"></script>
</body>
</html>
